@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Noto+Serif:400,400i,700,700i&display=swap");

$sans: "PT Sans", sans-serif;
$serif: "Noto Serif", serif;

body {
  padding: 50px 500px;
  font-size: 14pt;
  font-family: $serif;
}
.pub {
  color: #3eacd8;
  font-family: $sans;
  cursor: default;
}

.pub:hover {
  color: #1b82aa;
  font-family: $sans;
}
.pub::selection {
  background-color: rgb(255, 255, 255);
}

.title {
  border: none;
  font-family: $sans;
  font-size: 40pt;
  width: 100%;
  font-weight: bold;
}

.name {
  border: none;
  font-family: $sans;
  font-size: 20pt;
  width: 50%;
  margin-top: 5px;
}

input::placeholder {
  color: rgb(87, 87, 87);
}

.your {
  color: #9b9b9b;
}

#editor {
  font-family: $serif;
  color: rgba($color: #000000, $alpha: 0.8);
  font-size: 14pt;
}

#editor::selection {
  background-color: grey;
}

.error {
  color: rgb(161, 15, 15);
  display: none;
}

.com {
  margin: 0;
}

.nowidth {
	width: 100%;
}