extends layout

block content
  input(type="text", placeholder="Title").title#title
  input(type="text", placeholder="Your Name").name#name
  a(onclick="publish()").pub Publish this story
  p.error#err I need a title and/or content.
  #editor
    p.your Your story...
  script(src="https://cdn.quilljs.com/1.3.6/quill.js")
  script(src="js/frontpage.js")
